In [2]:
import pandas as pd

In [4]:
air_quality_no2 = pd.read_csv("data/air_quality_no2_long.csv", parse_dates=True)

In [6]:
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

In [8]:
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

In [9]:
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [11]:
air_quality_pm25 = pd.read_csv("data/air_quality_pm25_long.csv", parse_dates=True)

In [14]:
air_quality_no2 = air_quality_no2[["date.utc", "location", "parameter", "value"]]

In [15]:
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [18]:
air_quality_pm25 = pd.read_csv("data/air_quality_pm25_long.csv", parse_dates=True)

In [21]:
air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]

In [22]:
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [23]:
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)

In [24]:
air_quality.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [25]:
print('Shape of the ``air_quality_pm25`` table: ', air_quality_pm25.shape)

Shape of the ``air_quality_pm25`` table:  (2068, 4)

In [ ]:
print('Shape of the ``air_quality_no2`` table: ', air_quality_no2.shape)

In [26]:
print('Shape of the resulting ``air_quality`` table: ', air_quality.shape)

Shape of the resulting ``air_quality`` table:  (4136, 4)

In [27]:
air_quality = air_quality.sort_values("date.utc")

In [28]:
air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0

In [29]:
air_quality_ =  pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"])

In [30]:
air_quality_.head()

                         date.utc location parameter  value
PM25 0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
     1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
     2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
     3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
     4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [32]:
stations_coord = pd.read_csv("data/air_quality_stations.csv")

In [33]:
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

In [34]:
air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0

In [38]:
air_quality_parameters = pd.read_csv("data/air_quality_parameters.csv")

In [42]:
air_quality = pd.merge(air_quality, air_quality_parameters, how='left', left_on='parameter', right_on='id')

In [43]:
air_quality_parameters.head()

     id                                        description  name
0    bc                                       Black Carbon    BC
1    co                                    Carbon Monoxide    CO
2   no2                                   Nitrogen Dioxide   NO2
3    o3                                              Ozone    O3
4  pm10  Particulate matter less than 10 micrometers in...  PM10

In [45]:
air_quality = pd.merge(air_quality, air_quality_parameters, how='left', left_on='parameter', right_on='id')

In [46]:
air_quality.head()

,date.utc,location,parameter,value,id_x,description_x,name_x,id_y,description_y,name_y
0,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,no2,Nitrogen Dioxide,NO2,no2,Nitrogen Dioxide,NO2
1,2019-05-07 01:00:00+00:00,BETR801,no2,50.5,no2,Nitrogen Dioxide,NO2,no2,Nitrogen Dioxide,NO2
2,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,no2,Nitrogen Dioxide,NO2,no2,Nitrogen Dioxide,NO2
3,2019-05-07 01:00:00+00:00,BETR801,no2,50.5,no2,Nitrogen Dioxide,NO2,no2,Nitrogen Dioxide,NO2
4,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,no2,Nitrogen Dioxide,NO2,no2,Nitrogen Dioxide,NO2