## group_by convert

In [1]:
import pandas as pd
import numpy as np

### group_by -> list

In [2]:
df = pd.DataFrame({'column1': ['A', 'B', 'C', 'A', 'C',
                               'C', 'B', 'D', 'D', 'A'],
                   'column2': [5, 10, 15, 20, 25, 30,
                             35, 40, 45, 50]})
           
df

  column1  column2
0       A        5
1       B       10
2       C       15
3       A       20
4       C       25
5       C       30
6       B       35
7       D       40
8       D       45
9       A       50

#### apply() 이용

In [3]:
df = pd.DataFrame({'column1': ['A', 'B', 'C', 'A', 'C',
                               'C', 'B', 'D', 'D', 'A'],
                   'column2': [5, 10, 15, 20, 25, 30,
                             35, 40, 45, 50]})

df = df.groupby('column1')['column2'].apply(list)

df

column1
A     [5, 20, 50]
B        [10, 35]
C    [15, 25, 30]
D        [40, 45]
Name: column2, dtype: object

#### lambda 이용

In [6]:
df = df.groupby('column1').agg({'column2': lambda x: list(x)})

df

SpecificationError: nested renamer is not supported

#### agg 이용

In [8]:
df = df.groupby('column1').agg(list)
df

column1
A     [[[5, 20, 50]]]
B        [[[10, 35]]]
C    [[[15, 25, 30]]]
D        [[[40, 45]]]
Name: column2, dtype: object

#### tolist 이용