## MovieLens의 영화평점데이터

In [6]:
import pandas as pd

In [7]:
# 출력되는 내용을 줄이기
pd.options.display.max_rows= 10

In [8]:
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']

In [9]:
users = pd.read_table('datasets/movielens/users.dat', sep='::', header=None, names=unames)

users

/var/folders/qb/9ghy845j1v999lxpxzlv__9r0000gn/T/ipykernel_2224/3040090963.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users = pd.read_table('datasets/movielens/users.dat', sep='::', header=None, names=unames)

      user_id gender  age  occupation    zip
0           1      F    1          10  48067
1           2      M   56          16  70072
2           3      M   25          15  55117
3           4      M   45           7  02460
4           5      M   25          20  55455
...       ...    ...  ...         ...    ...
6035     6036      F   25          15  32603
6036     6037      F   45           1  76006
6037     6038      F   56           1  14706
6038     6039      F   45           0  01060
6039     6040      M   25           6  11106

[6040 rows x 5 columns]

In [10]:
rnames = ['user_id', 'move_id', 'rating', 'timestamp']

In [11]:
ratings = pd.read_table('datasets/movielens/ratings.dat', sep='::', header=None, names=rnames)

/var/folders/qb/9ghy845j1v999lxpxzlv__9r0000gn/T/ipykernel_2224/3848182950.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_table('datasets/movielens/ratings.dat', sep='::', header=None, names=rnames)

In [12]:
mnames = ['movie_id', 'title', 'genres']

In [13]:
movies = pd.read_table('datasets/movielens/ratings.dat', sep='::', header=None, names=mnames)

/var/folders/qb/9ghy845j1v999lxpxzlv__9r0000gn/T/ipykernel_2224/2659662974.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_table('datasets/movielens/ratings.dat', sep='::', header=None, names=mnames)

In [14]:
users[:5]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117
3        4      M   45           7  02460
4        5      M   25          20  55455

In [15]:
ratings[:5]

   user_id  move_id  rating  timestamp
0        1     1193       5  978300760
1        1      661       3  978302109
2        1      914       3  978301968
3        1     3408       4  978300275
4        1     2355       5  978824291

In [16]:
movies[:5]

   movie_id  title     genres
1      1193      5  978300760
1       661      3  978302109
1       914      3  978301968
1      3408      4  978300275
1      2355      5  978824291

In [17]:
ratings

         user_id  move_id  rating  timestamp
0              1     1193       5  978300760
1              1      661       3  978302109
2              1      914       3  978301968
3              1     3408       4  978300275
4              1     2355       5  978824291
...          ...      ...     ...        ...
1000204     6040     1091       1  956716541
1000205     6040     1094       5  956704887
1000206     6040      562       5  956704746
1000207     6040     1096       4  956715648
1000208     6040     1097       4  956715569

[1000209 rows x 4 columns]

In [18]:
data = pd.merge(pd.merge(ratings, users), movies, left_on='move_id', right_on='movie_id') #주어진 데이터에 movie_id를 move_id라 잘못 적혀있음

KeyboardInterrupt:

In [ ]:
data

In [ ]:
data.iloc[0]

In [ ]:
mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')

mean_ratings[:5]

In [19]:
ratings_by_title = data.groupby('title').size()

NameError: name 'data' is not defined

In [ ]:
ratings_by_title[:10]

In [ ]:
mean_ratings = mean_ratings.loc[active_titles]

In [ ]:
mean_ratings

In [ ]:
top_female_ratings = mean_ratings.sort_values(by='F', ascending=False)

In [ ]:
top_female_ratings[:10]

### 평점차이

In [ ]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']

In [20]:
sorted_by_dff = mean_ratings.sort_values(by='diff')

NameError: name 'mean_ratings' is not defined

In [ ]:
sorted_by_diff[:10]

In [ ]:
sorted_by_diff[::-1][10]

In [21]:
# 영화별 평점 표준편차
rating_std_by_title = data.groupby('title')['rating'].std()

NameError: name 'data' is not defined

In [ ]:
# active_titles만 선택
rating_std_title = rating_std_by_title.loc[active_titles]

In [ ]:
# 평점 내림차순으로 Series 정렬
rating_std_by_title.sort_values(ascending=False)[:10]