## 11. 데이터 타입


## 참고자료
* [Python 완전정복 시리즈] 2편 : Pandas DataFrame 완전정복 : https://wikidocs.net/book/7188

In [2]:
import pandas as pd
import numpy as np

## dtype 변경 (astype)

In [3]:
col1 = [1, 2, 3, 4]
col2 = ['one', 'two', 'three', 'four']
col3 = [1.5, 2.5, 3.5, 4.5]
col4 = [True, False, False, True]
index = ['row1','row2','row3','row4']
df = pd.DataFrame(index=index, data={"col1": col1, "col2": col2, "col3": col3, "col4": col4})
df

      col1   col2  col3   col4
row1     1    one   1.5   True
row2     2    two   2.5  False
row3     3  three   3.5  False
row4     4   four   4.5   True

In [5]:
df.dtypes

col1      int64
col2     object
col3    float64
col4       bool
dtype: object

In [6]:
df1 = df.astype({'col1': 'int32'})
df1.dtypes

col1      int32
col2     object
col3    float64
col4       bool
dtype: object

In [7]:
df1 = df.astype({'col1':'int32', 'col3':'int64'})
df1.dtypes

col1     int32
col2    object
col3     int64
col4      bool
dtype: object

In [10]:
# obj 형식은 int64로 변경할 수 없기 때문에 오류 발생
df1= df.astype(dtype='int64')
df1.dtypes

ValueError: invalid literal for int() with base 10: 'one'

In [11]:
df1= df.astype(dtype='int64',errors='ignore')
df1.dtypes

col1     int64
col2    object
col3     int64
col4     int64
dtype: object

## 열의 detype 통일 (convert_dtypes)

In [12]:
col1 = ['a','b',np.NaN]
col2 = [True, np.NaN, False]
col3 = [np.NaN, 2, 4]
col4 = [1.4, np.NaN, 2.5]
df = pd.DataFrame(data={'col1':col1,'col2':col2,'col3':col3,'col4':col4},index=['row1','row1','row3'])
df

     col1   col2  col3  col4
row1    a   True   NaN   1.4
row1    b    NaN   2.0   NaN
row3  NaN  False   4.0   2.5

In [14]:
df.dtypes

col1     object
col2     object
col3    float64
col4    float64
dtype: object

In [16]:
result = df.convert_dtypes()
result

      col1   col2  col3  col4
row1     a   True  <NA>   1.4
row1     b   <NA>     2  <NA>
row3  <NA>  False     4   2.5

In [17]:
result.dtypes

col1     string
col2    boolean
col3      Int64
col4    Float64
dtype: object

## object 열의 적절 dtype 추론(infter_objects)

In [18]:
col1 = ['a','b', 3, 4]
df = pd.DataFrame({'col1':col1},index=['row1','row2','row3','row4'])
df

     col1
row1    a
row2    b
row3    3
row4    4

In [19]:
df.dtypes

col1    object
dtype: object

In [22]:
df = df.iloc[2:]
df

     col1
row3    3
row4    4

In [23]:
df.dtypes

col1    object
dtype: object

In [24]:
df.infer_objects()

      col1
row3     3
row4     4

In [25]:
df.infer_objects().dtypes

col1    int64
dtype: object