## 18. 반복


## 참고자료
* [Python 완전정복 시리즈] 2편 : Pandas DataFrame 완전정복 : https://wikidocs.net/book/7188

In [2]:
import pandas as pd
import numpy as np

## 열 인덱스 반복자 변환 (__iter__)

In [3]:
data = {'col1':[1,2],'col2':[3,4]}
df = pd.DataFrame(data = data)
df

   col1  col2
0     1     3
1     2     4

In [4]:
df2 = df.__iter__()
df2

In [5]:
next(df2)

'col1'

In [6]:
next(df2)

'col2'

In [7]:
list(df)

['col1', 'col2']

## 열과 내용의 반복자 반환 (items, iteritems)

In [9]:
data = {'col1':[1,2],'col2':[3,4]}
idx = ['row1','row2']
df = pd.DataFrame(data = data, index=idx)
df

      col1  col2
row1     1     3
row2     2     4

In [10]:
df2 = df.items()
df2

In [11]:
df2 = df.items()

for i in df2:
    print("="*100)
    print(i)
    
# 튜플 형태로 (열이름, 내용의 Series객체)출력됨

====================================================================================================
('col1', row1    1
row2    2
Name: col1, dtype: int64)
====================================================================================================
('col2', row1    3
row2    4
Name: col2, dtype: int64)

In [12]:
df2 = df.items()
for i in df2:
    print("="*30)
    for j in i:
        print(j)

==============================
col1
row1    1
row2    2
Name: col1, dtype: int64
==============================
col2
row1    3
row2    4
Name: col2, dtype: int64

## 행과 내용의 반복자 반환 (iterrows)

In [14]:
data = {'col1':[1,2],'col2':[3,4]}
idx = ['row1','row2']
df = pd.DataFrame(data = data, index=idx)
df

      col1  col2
row1     1     3
row2     2     4

In [15]:
df2 = df.iterrows()
df2

In [16]:
df2 = df.iterrows()
for i in df2:
    print("="*30)
    print(i)

==============================
('row1', col1    1
col2    3
Name: row1, dtype: int64)
==============================
('row2', col1    2
col2    4
Name: row2, dtype: int64)

In [17]:
df2 = df.iterrows()
for i in df2:
    print("=" * 30)
    for j in i:
        print(j)

==============================
row1
col1    1
col2    3
Name: row1, dtype: int64
==============================
row2
col1    2
col2    4
Name: row2, dtype: int64

## 튜플형태 반복자 반환 (itertuples)

In [18]:
data = {'col1':[1,2],'col2':[3,4]}
idx = ['row1','row2']
df = pd.DataFrame(data = data, index=idx)
df

      col1  col2
row1     1     3
row2     2     4